[submodule "plugins"]
	path = plugins
	url = ./plugins
[submodule "nikhil-theme"]
	path = nikhil-theme
	url = ./nikhil-theme
[submodule "MinimalXY"]
	path = MinimalXY
	url = https://github.com/xandikos/MinimalXY
[submodule "xandikos"]
	path = xandikos
	url = https://github.com/jelmer/xandikos.git
